<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.buaadataplatform.module.mapper.user.LoginMapper" >

    <select id="login" resultType="com.example.buaadataplatform.module.entity.LoginEntity">
        select d.stu_id stu_id,d.authority authority,d.password password,d.academy_id academy_id,u.head_img head_img
        from dataplatform_authority as d
        left join user u on u.buaa_id=d.stu_id
        where d.stu_id=#{param1} and d.password=#{param2}
    </select>

</mapper>